body{
    background-color: #FFFFFF;
}
hr{
    margin-top: -2px !important;
    color: #000000;
    height: 2px !important;
    
}
#map { height: 300px; }
.fa-circle-plus{
    color: #000000 !important;
    font-size: 3rem !important;
}

.container{
    margin-bottom: 20px;
}
.card{
    border: none !important;
}
.card-body{
    background-color: #F4F4F4 !important;
}

.fa-brands{
    color: #000000 !important;
}

.bg-light {
    --bs-bg-opacity: 0 !important;
    background-color: #FFFFFF!important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #000000 !important;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.navbar-brand {
    color: #000000 !important;
    font-weight: bold !important;
}

.green-h:hover {
    color: #202020;
}

.green-h {
    color: #000000 !important;
}
.container{
    margin-bottom: 20px;
}
.fa-brands{
    color: #000000 !important;
}

.borderless {
    border: none;
    background: none !important;
}
.reduce{
    height: 25rem !important;
}